{$ROBINHOOD_SITE_ADDRESS:http://localhost} {
	encode zstd gzip
	header Cache-Control "no-store, no-cache, must-revalidate, max-age=0"

	redir /robinhood-radar /robinhood-radar/ 308

	handle /robinhood-radar/api/robinhood/* {
		uri strip_prefix /robinhood-radar
		reverse_proxy 127.0.0.1:18118 {
			header_up X-Forwarded-Proto {scheme}
			header_up Host {host}
		}
	}

	handle_path /robinhood-radar/* {
		reverse_proxy 127.0.0.1:18118 {
			header_up X-Forwarded-Proto {scheme}
			header_up Host {host}
		}
	}
}
